# NLP Explore Notebook

In [1]:
import re
import unicodedata
import pandas as pd
import nltk

from env import user, password, host

## 1. Spam Data

### Load the spam data set.

In [2]:
def get_db_url(database, host=host, user=user, password=password):
    return f'mysql+pymysql://{user}:{password}@{host}/{database}'


url = get_db_url("spam_db")
sql = "SELECT * FROM spam"

df = pd.read_sql(sql, url, index_col="id")
df.head()

   label                                               text
id
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

### Create and explore bigrams for the spam data. Visualize them with a word cloud. How do they compare with the ham bigrams?

#### Is there any overlap in the bigrams for the spam data and the ham data?

#### Create and explore with trigrams (i.e. a n-gram with an n of 3) for both the spam and ham data.

#### Explore the blog articles using the techniques discussed in the exploration lesson.

### Explore the news articles using the techniques discussed in the exploration lesson. Use the category variable when exploring.